<h1>{{title}}</h1>

<nav>
  {{#each _all.collections.navigation_items}}
    <a href="{{relative_path route ../_route}}" class="{{#ifStartsWith path ../_path}}is-active{{/ifStartsWith}}">{{title}}</a>
  {{/each}}
</nav>
